<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sala (número)</title>
</head>
<body>
    <main>
        <div>
            <a href="{% url 'home' %}">Regresar</a>
        </div>
        <form method='POST' id="form">
            {% csrf_token %}
            <input type="text" name="message" placeholder="Escriba aquí" >
            <button type="submit">Enviar</button>
        </form>
        <div id="messages"></div>
    </main> 

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:',data)
            // Working to add username
            if(data.type == 'chat'){
            let messages = document.getElementById('messages')
            // (working)
            messages.insertAdjacentHTML('beforeend',`<div>
                    <strong>${data.author}</strong>
                    <p>${data.message}</p>
                </div>`)
            }  
        }


        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'something': e.target.message.auth,
                'message':message
            }))
            form.reset()
        })
    </script>
</body> 
</html>